section.slide#welcome
  h1 Welcome to base-deck
 
section.slide#todo
  h2 Still to-do
  ul
    li.slide#todo-cm CodeMirror
    li.slide#todo-snipped Load code snippets
    li.slide#todo-split Split layout and slides
    li.slide#todo-conf Extra configuration for extensions and themes, etc. 

section.slide#end
  h1 That's All ... For Now!

